.Home {
	background-image: url('../assets/homeBG.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 24px;
	gap: 56px;
	width: 100%;
	min-height: 100vh;
	max-width: 1600px;
}

@media (max-width: 1200px) {
	.Home {
		gap: 48px;
	}
}

@media (max-width: 950px) {
	.Home {
		gap: 40px;
	}
}

@media (max-width: 768px) {
	.Home {
		gap: 32px;
		background: none;
	}
}

@media (max-width: 480px) {
	.Home {
		gap: 24px;
		padding: 10px;
	}
}
